body{
  font-family: Raleway,sans-serif;
  overflow-y: scroll; /* prevent scrollbar jumping */
}

.a11y_hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

img.header_logo{
  margin: 20px 0;
}

img.technik_logo{
  height: 30px;
}

footer p{
  color: #444;
  font-size: 14px;
  margin: 10px 0;
}

footer p a, footer p a:hover, footer p a:focus{
  color: #00a8e4;
}

/* ===================
    ALL: Grey Blue Theme
   =================== */

.header-container {
    border-bottom: 20px solid #335087;
}

.footer-container,
.main aside {
    border-top: 20px solid #335087;
}

.header-container,
.footer-container,
.main aside {
    background: #efefef;
}

.title {
    color: #004b9d;
}

nav a{
  background-color: #ddd;
  color: #004b9d;
}

/* ===================
    Main Layout
   =================== */

div.side_by_side{
  display: table;
  width: 100%;
  table-layout: fixed;
}

div.side_by_side > div{
  display: table-cell;
  vertical-align: top;
}

div.side_by_side > div.detail{
  width: 440px;
  padding-left: 20px;
}

div.details_body{
  height: 464px;
  padding: 15px;
  overflow-y: scroll;
}

div.details_body h3{
  margin: 0 0 6px;
  font-weight: 600;
}

div.details_body p.generic{
  font-size: 14px;
  color: #555;
  font-style: italic;
}

div.details_body .img_gallery{
  margin: 10px 0;
  overflow-x: scroll;
  white-space: nowrap;
}

div.details_body .img_gallery > div{
  display: inline-block;
  height: 100px;
  min-width: 100px;
  background-color: #eee;
  margin-right: 10px;
}

div.details_body .img_gallery > div img{
  height: 100px;
}

/* ============================
    Bootstrap-Table Overrides 
   ============================ */

.fixed-table-container{
  border-left: none;
  border-right: none;
  border-radius: 0;
}

#results_table{
  table-layout: fixed;
}

#results_table td{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#results_table td:hover{
  cursor: pointer;
}

.bootstrap-table .table > thead > tr > th{
  border-bottom: none;
}

/* ============================
    Bootstrap Form Overrides 
   ============================ */

.form-inline .form-group{
  margin-right: 10px;
}

.form-inline .form-group label{
  margin-right: 4px;
}
